<!DOCTYPE html>
	<html>
		<head>
			<title>
				<a class="nav" href="https://risato.github.com/">Risato
				</a>
				<span class="divider"> &#124; 
				</span>
				{{ page.title }}
			</h1>
			</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">cv</a></li>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rickypsatomi@gmail.com">email</a></li>
	        		<li><a href="https://github.com/Risato">github.com/Risato</a></li>
				</ul>
			</footer>
		</body>
	</html>
