<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="shortcut icon" type="image/png" href="{{site.url}}/Content/Logo.jpg">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/project">Projects</a></li>
	    		</ul>

			</nav>
			<div class="container">
			<h1><a class="nav" href="https://risato.github.io/">Risato</a><span class="divider"> &#124; </span>{{ page.title }}</h1>
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rickypsatomi@gmail.com">email</a></li>
	        		<li><a href="https://github.com/Risato">github</a></li>
	        		<li><a href="https://www.linkedin.com/in/rickysatomi">linkedin</a></li>
	        		
				</ul>
			</footer>
		</body>
	</html>
