<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="shortcut icon" type="image/png" href="{{site.url}}/Content/Logo.jpg">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
	<link rel='stylesheet prefetch' href='http://darsa.in/sly/css/ospb.css'>
	<!-- <link rel="stylesheet" href="css/style.css"> -->

	    <!-- local site tweak -->
<style>
  ul {
  list-style-type: none;
  /*width: 500px;*/
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}
</style>
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/project">Projects</a></li>
			<li><a href="/cv">CV</a></li>
		</ul>

	</nav>
	<div class="container">
		<h1><a class="nav" href="https://risato.github.io/">Risato</a><span class="divider"> &#124; </span>{{ page.title }}</h1>
		{{ content }}

	</div><!-- /.container -->
	<footer>
		<br>
		<ul>
			<li><a href="mailto:rickypsatomi@gmail.com">email</a></li>
			<li><a href="https://github.com/Risato">github</a></li>
			<li><a href="https://www.linkedin.com/in/rickysatomi">linkedin</a></li>

		</ul>
	</footer>
</body>
</html>
